div#container {
  display: flex;
  justify-content:space-around;
  
  border: 14px solid magenta;
  color: red;
  padding:150px 50px;
}

#container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid blue;
  padding: 10px;
  height: 100px;
  width: 100px;
}

#container > div > :nth-child(1) {
  font: 50px Arial, sans-serif;

  border: 1px solid black;
}

#container > div > :nth-child(2) {
  border: 1px solid red;
}


/* #rock {
  border: 5px solid green;
} */