body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 95vh;
}

div#container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 14px solid gray;
  color: black;
  padding:0 0;
  height: 100vh;
}

#container > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
}

#container > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 5px solid black;
  padding: 10px;
  height: 100px;
  width: 100px;
}

#container > div > div > :nth-child(1) {
  font: 50px Arial, sans-serif;
  color: red;
  border: 1px solid red;
  padding: 0px 10px;
}
function game(choice) {

  //     for (let i = 0; i < 5; i++) {
  //         playerSelection = choice;
  //         computerSelection = computerPlay();
  //         playRound(playerSelection, computerSelection);
  //     }
  
  //     console.log(`You played 5 games! 
  //     You won ${playerWinCount} time(s).
  //     The computer won ${computerWinCount} time(s).`);
  
  // }
#container > div > div > :nth-child(2) {
  /* border: 1px solid black; */
}


/* #rock {
  border: 5px solid green;
} */